@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  border: 0;
  background-color: #fff;
  padding:10px;
  height:50px;
  width:50px;
  font-size: 18px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border:0;
  position: absolute;
  top:0;
  left:0;
  height: 50px;
  width:50px;
  font-size: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn.focus{
  outline: 0;
}
.input:focus {
  outline:0;
}

.search.active .input {
  width:200px;
}

.search.active .btn .input:focus, .search .button:focus{
  transform: translateX(200px);
}

.search.active .btn{
  transform: translateX(200px);
}
